body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

div {
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 5px;
    width: 150px;
}

button {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    cursor: pointer;
}



#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.sekil{
    width: 200px;
    height: 100px;
}
/*.search__section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}

input, button {
    outline: 0;
    padding: 10px;
}

button {
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    cursor: pointer;
}*/







/*#board {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}

.cell {
    width: 50px;
    height: 50px;
    background-color: #eeeeee46;
    border: 1px solid #33333342;
}*/